@tailwind base;
@tailwind components;
@tailwind utilities;

.placeholder-lg {
  @apply placeholder:text-lg;
}

.placeholder-xl {
  @apply placeholder:text-xl;
}

.placeholder-base {
  @apply placeholder:text-base;
}

#root {
  --green: #B9FF66;
  --dark: #191A23;
  --gray: #F3F3F3;
}

input:focus {
  border-color: var(--green);
  outline: none;
}


body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 1920px;
  width: 100%;
}

.border-1{
  border: 1px solid ;
}

.text-p{
  font-size: 18px;
}