.block__title p{
    background-color: var(--green);
}

.block__subtitle{
    max-width: 1000px;
}

.subtitle{
    font-size: 18px;
}

@media only screen and (max-width:1200px) {
    .subtitle{
        font-size: 16px;
    }
}

@media only screen and (max-width:768px) {
    .subtitle{
        font-size: 14px;
    }
}